<?xml version="1.0"?>
<config>
    <modules>
        <Mageducational_Productmod>
             <version>0.1.0</version>
        </Mageducational_Productmod>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <productmod>
            </productmod>
            <productmod_entity>
            </productmod_entity>
        </models>
        <blocks>
            <productmod>
            </productmod>
        </blocks>
        <helpers>
            <productmod>
            </productmod>
        </helpers>
        <resources>
            <mageducational_productmod_setup>
                <setup>
                    <module>Mageducational_Productmod</module>
                    <class>Mageducational_Productmod_Model_Entity_Setup</class>
                </setup>
            </mageducational_productmod_setup>
        </resources>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate>
            <modules>
                <Mageducational_Productmod>
                    <files>
                        <default>Mageducational_Productmod.csv</default>
                    </files>
                </Mageducational_Productmod>
            </modules>
        </translate>
        <layout></layout>
    </frontend>
    <default>
        <productmod>
        </productmod>
    </default>
</config>